{% load static %}
  {% if request.path == '/' %}
  <div class="background-img">
    <header>
       <ul>
        <li>PANDORA</li>
       </ul>
    
      <ul style="gap: 25px;">
        
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'App:events' %}">Events</a></li>
        <li><a href="{% url 'opportunities' %}">Features</a></li>
        <li style="margin-right: 100px;"><a href="{% url 'user:contact' %}">Contact</a></li>
      </ul>
    
    </header>
    
    <div class="text">
        <div>
        <h2>THE BEST İN THE WORLD</h2>
        <p style="margin-top: 50px;">THE BEST ALWAYS DESERVE THE BEST.</p>
    </div>
    </div>
</div>
{% else %}

<header>
  <ul>
   <li>PANDORA</li>
  </ul>

 <ul style="gap: 25px;">
   
   <li><a href="{% url 'homepage' %}">Home</a></li>
   <li><a href="{% url 'App:events' %}">Events</a></li>
   <li><a href="{% url 'opportunities' %}">Features</a></li>
   <li style="margin-right: 100px;"><a href="{% url 'user:contact' %}">Support</a></li>
 </ul>

</header>


</div>
{% endif %}
