header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #9DF1DF;
}
.a{
    font-size: large;
    font-family: Avenir-Medium, sans-serif;
   
    color: #E3F6FF;
    text-decoration: none;
}