header{

    background-color: #9DF1DF;
}
.a{
    font-size: large;
    font-family: Avenir-Medium, sans-serif;
    color: #E3F6FF;
    text-decoration: none;
    
}

ul li a.adropdown{
    text-align: center;
    color: #E3F6FF;
    text-decoration: none;
    font-family: Avenir-Medium,sans-serif;
    font-size: small;
}