{% extends 'layout.html' %}


{% block container %}
{% load static %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-img-1">
            <div>
           <h2>29 AUGUST 2023</h2>
           <p style="margin-top: 50px;">Eminem will be with us on 29 August 2023 at 21:00</p>
        </div>
        
    </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img-2">
            <div>
                <h2>02 OCTOBER 2023</h2>
                <p style="margin-top: 50px;">Another legend rapper will be with us on 02 October 2023 at 22:00</p>
             </div>
        
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="grid-column">
    <div class="txt txt-order-column">
      <h2>SHOW YOUR SKİLLS</h2>
      <p>Everyday between 10:00 and 14:00 we have soccer tournament. Build a team and enjoy the competition.</p>
      </div>
      <div class="img-c">
        <img src="{% static 'images/futbol.jpg' %}" alt="" width="700px">
  
    </div>
  </div>
  <div class="grid-column">
    <div class="txt txt-order-column-r">
      <h2>LET'S BEAT IT!</h2>
      <p>Everyday between 19:00 and 22:00, DJ hit the fun as always does. Dont forget to join it.</p>
      </div>
      <div class="img-c-r">
        <img src="{% static 'images/dj.jpg' %}" alt="" width="700px">
  
    </div>
  </div>




{% endblock %}